#zoo {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.animals {
    border: 2px solid black;
    text-align: center;
    margin: 2%;
    width: 400px;

}

.escaped {
    margin: 0 auto;
}